@import './base.css';

body {
  font-family: Montserrat, serif;
  background-color: black;
}

.button {
   text-decoration: none;
   color: white;
   font-weight: 800;
   background-color: #CC6F1A;
   padding: 0.5rem;
   border-radius: 2rem;
}

.button:hover {
  color: black;
}