:root {
    --orange-color: #CC6F1A;
    --orange-dark-color: rgb(154, 77, 4);
    --green-color: #2d9a41;
    --red-color: #ea542a;
    --red-delete-color: #ff3700;
    --white-transparent-color: #ffffff87;
    --grey-color: #362C2C;
    --form-user-color: rgba(217, 217, 217, 0.12);
    --input-user-color: rgba(217, 217, 217, 0.40);
    --acc-exist-color: rgba(217, 217, 217, 1);

    --text: #e8e6ea;
    --background: #0f0e11;
    --primary: #5a5463;
    --secondary: #1e1c21;
    --accent: #827b8e;
}